@import "tailwindcss";

@theme {
  --color-prim: #120907;
  --color-sec: #171f39;
  --color-ter: #48578e;
  --color-cuar: #7f9ae6;
  --color-quin: #b2d3eb;

}

html,
body,
#app {
  margin: 0;
  padding: 0;
  min-height: 100%;
}